html, body {
  height: 100%;
  width: 100%;
}

#outputDiv {
    display: flex;
}

#outputDiv > div {
    width: 256px;
    height: 256px;
}

.textClock {
    color: red;
    background-color: white;
}

.canvasClock > canvas {
    width: 100%;
    height: 100%;
}